body {
  background-color: #141414;
  color: #f4f4f4;
  height: 100vh;
  max-height: fit-content;
  margin: 0;
}

body > div {
  background-color: #141414;
}
* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.center-navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f006f;

  padding: 80px 0;
}

.info-about-content {
  max-width: 600px;
  background-color: #f4f4f440;
  padding: 20px;
  border-radius: 0 20px 0 20px;
  margin-bottom: 20px;

  opacity: 1;
  margin: 0;
  max-height: 100vh;
  transition: all 0.3s ease-in;

  transition:
    font-size 0.25s,
    margin 0.25s,
    padding 0.25s,
    opacity 0.5s 0.25s;
}

.info-about-content svg {
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.info-about-content h2 {
  text-align: center;
  padding: 4px;
}

.menu-item {
  min-width: 200px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 0;

  border-bottom: 1px dotted white;
  border-top: 1px dotted white;
}

.button-title-details {
  min-width: 360px;
  width: 100%;
  display: flex;
  align-items: center;
  border: blue;
  background-color: #70aafa;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.item-label {
  padding: 8px;
  flex-grow: 3;
  text-align: center;
}

.button-show-details {
  border-left: 1px solid black;
  padding: 8px;
  flex-grow: 1;
  text-align: center;
}

.details-label {
  margin: -10px 20px 0px 20px;
  padding: 30px 46px 16px 46px;

  background-color: #80808083;
  z-index: 1;

  opacity: 1;
  max-height: 100%;
  transition: max-height 0.3s ease-in;

  transition:
    font-size 0.25s,
    margin 0.25s,
    padding 0.25s,
    overflow 0.25s,
    opacity 0.3s 0.25s;
}

.hidden {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease-out;
}

.button-actions {
  min-width: 360px;
  width: 100%;
  background-color: #70aafa;
  border-top: 2px solid black;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
}

.button-actions > * {
  padding: 8px;
}

.go-to-item-button {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.button-title-details:hover {
  cursor: pointer;
  background-color: #00aaff;
}

.button-title-details:active,
.button-title-details:focus {
  background-color: #00aaff;
}

.button-actions:hover {
  background-color: #00aaff;
  cursor: pointer;
}

.button-actions:active,
.button-actions:focus {
  background-color: #00cfaa;
}
