.mobile-nav-toggle {
  display: none;
}

nav {
  display: flex;
  justify-content: end;
  background: #100331;
  min-height: 90px;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 0px 20px;
  background: #100331;
  margin: 0;
  height: 60px;
}

nav ul li {
  list-style: none;
}

nav ul li a:hover {
  color: #a080a0;
}

nav ul li a {
  color: #ff8a00;
  font-weight: 800;
  text-decoration: none;
}

nav .content {
  background: #100331;
}

@media (max-width: 800px) {
  .primary-navigation {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 30vw;
    right: 0;
    background: steelblue;
    flex-direction: column;
    align-items: start;
    padding: min(20vh, 10rem) 0em;

    background: #10033180;
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
  }

  .primary-navigation li {
    width: 100%;
  }

  .primary-navigation li:focus::after {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(0, 0%, 0%, 0.75);
      background: #100331bf;
    }
  }

  .primary-navigation li a {
    padding: 0 2em;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 999999;
    background-image: url("../assets/list.svg");
    background-color: transparent;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  ul[data-visible="true"] {
    visibility: visible;
    transform: translateX(0%);
    transition: transform 0.3s;
  }

  ul[data-visible="false"] {
    visibility: hidden;
  }
}
