body {
  margin: 0;
  color: #f4f4f4;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 2rem;
  text-decoration: underline;
}
p {
  margin: 0;
}

header {
  padding: 40px 0;
  background-color: #607cb4;
  border: 2px solid #809cd4;
  margin: 2px;
}

main {
  margin: 0;
  padding: 40px 0;
  background-color: #559db6;
  min-height: 60vh;

  border: 2px solid #77add6;
  margin: 2px;
}

footer {
  background-color: #86a951;
  border: 2px solid #a6c971;
  padding: 2px;
  margin: 2px;
  height: 40px;
}

.destaque {
  font-style: italic;
  background-color: #ff800080;
}

#importante {
  border-top: 4px solid whitesmoke;
}
